<span class="amc-NCompare-srcOption" data-f="option">#OPTION#</span>{if ?OPTION_DETAIL/} <span class="amc-NCompare-srcDetail" data-f="optionDetail">#OPTION_DETAIL#</span>{endif/}
<span class="amc-NCompare-srcCrit">{if ?CRITERION_GROUP/}<span data-f="group">#CRITERION_GROUP#</span>: {endif/}<span data-f="criterion">#CRITERION#</span></span>
<span class="amc-NCompare-srcValue" data-f="value">#VALUE#</span>{if ?SCORE/} <span class="amc-NCompare-srcScore">Score <span data-f="score">#SCORE#</span></span>{endif/}{if ?WEIGHT/} <span class="amc-NCompare-srcWeight">Weight <span data-f="weight">#WEIGHT#</span></span>{endif/}
{if ?NOTE/}<span class="amc-NCompare-srcNote" data-f="note">#NOTE#</span>{endif/}
